body {
  background-color: #f6f6f6;
}

input#addTask {
  border: none;
  background: transparent;
}

button {
  border: none;
  background: transparent;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
li:nth-child(even) {
    background-color: #f2f2f2;
} */

button.option-Task {
  cursor: move;
}

button.reload {
  color: #f6f6f6;
  cursor: pointer;
}

div#clr.row {
  border: none;
  background: #f6f6f6;
  cursor: pointer;
  padding: 0;

  --bs-gutter-x: 2rem;
}

/*
li.row {
    --bs-gutter-x: 2rem;
}
*/
.card {
  box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.75);
}

.card-body {
  padding-bottom: 0 !important;
}

.text {
  background-color: #fff;
  border: none;
}

.text:focus {
  outline: none;
}
