body {
  background-color: #f6f6f6;
  overflow: hidden !important;
}

header {
  height: 10vh;
}

main {
  height: 70vh;
}

footer {
  height: 20vh;
}

input#addTask {
  border: none;
  background: transparent;
}

button {
  border: none;
  background: transparent;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 300px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

/*
li:nth-child(even) {
    background-color: #f2f2f2;
} */

button.option-Task {
  cursor: move;
}

button.reload {
  color: #f6f6f6;
  cursor: pointer;
}

div#clr.row {
  border: none;
  background: #f6f6f6;
  cursor: pointer;
  padding: 0;

  --bs-gutter-x: 2rem;
}

/*
li.row {
    --bs-gutter-x: 2rem;
}
*/
.card {
  box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.75);
  max-height: 480px !important;
}

.card-body {
  padding-bottom: 0 !important;
}

.text {
  background-color: transparent;
  border: none;
}

.text:focus {
  outline: none;
}

.bg-edit {
  background: #ffff0060;
}

.task-description {
  padding-left: 0;
  padding-right: 0;
}

.completed-line {
  color: #ccc;
  text-decoration: line-through;
}

#addTask {
  border: none;
  background: transparent;
}

#addTask:focus {
  outline: none;
}

#totalTasks {
  font-size: small;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#doneTasks {
  font-size: small;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*
.delete-Task {
  border: grey solid 1px;
  background: transparent;
}
*/

@media (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .shown-mobile {
    display: none;
  }

  .card {
    max-height: 680px !important;
  }

  ul {
    max-height: 510px !important;
  }
}
